.main-tabs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .am-tabs-pane-wrap {
    overflow-y: hidden;
    .am-tab-bar-item {
      overflow: auto;
    }
  }
  .am-button {
    margin-top: 0.1rem;
  }
}
