@import './variables.scss';

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $black;
}
li {
  list-style: none;
}
input,
img {
  border: none;
}
img {
  display: inline-block;
  object-fit: cover;
}
html {
  body {
    font: normal normal normal 0.14rem PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei;
    line-height: 0.14rem;
    color: $black;
    background-color: $white;
    -webkit-overflow-scrolling: touch;
    & > div:first-of-type {
      height: 100%;
    }
  }
}
/* main */
.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $nav-height;
  z-index: 1;
}
.main-content {
  position: absolute;
  top: $nav-height;
  right: 0;
  left: 0;
  min-height: calc(100% - 0.45rem - constant(safe-area-inset-bottom));
  min-height: calc(100% - 0.45rem - env(safe-area-inset-bottom));
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.safe-area {
  height: constant(safe-area-inset-bottom);
  height: env(safe-area-inset-bottom);
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

// 字体配置列表
$fontSizeList: (text-xxxl, $text-xxxl), (text-xxl $text-xxl), (text-xl $text-xl), (title-lg $title-lg),
  (title-md $title-md), (title-sm $title-sm), (text-xl $text-xl), (text-lg $text-lg), (text-md $text-md),
  (text-sm $text-sm), (text-xs $text-xs);
// 中文字体类
@each $className, $size in $fontSizeList {
  .#{$className} {
    font-family: PingFangSC-Regular;
    font-size: $size;
  }
}
@each $className, $size in $fontSizeList {
  .#{$className}-s {
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    font-size: $size;
  }
}
@each $className, $size in $fontSizeList {
  .#{$className}-m {
    font-family: PingFangSC-Medium;
    font-weight: 500;
    font-size: $size;
  }
}

/*  布局用flex  */
.row {
  display: flex;
  flex-direction: row;
}

// 行布局 垂直方向居中
.row-center {
  @extend .row;
  align-items: center;
}

// 行布局 垂直方向居中,水平方向各元素均分剩余空间(两端有空间)
.row-center-around {
  @extend .row-center;
  justify-content: space-around;
}

// 行布局 垂直方向居中,水平方向各元素均分剩余空间(两端无空间)
.row-center-between {
  @extend .row-center;
  justify-content: space-between;
}

.row-center-center {
  @extend .row-center;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

// 列布局 水平方向居中
.col-center {
  @extend .col;
  align-items: center;
}

// 列布局 水平方向居中，垂直方向各元素均分剩余空间(两端有空间)
.col-center-around {
  @extend .col-center;
  justify-content: space-around;
}

// 列布局 水平方向居中，垂直方向各元素均分剩余空间(两端无空间)
.col-center-between {
  @extend .col-center;
  justify-content: space-between;
}

.col-center-between {
  @extend .col-center;
  justify-content: center;
}

// 文本超出1行显示省略号
.length-restrict {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 文本超出2行显示省略号
.length-restrict-2-line {
  word-break: break-all;
  text-overflow: ellipsis;
  display: box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
