$base-blue: #5091e6;
$black: #001429;
$white: #ffffff;
// font
$text-xxxl: 0.24rem;
$text-xxl: 0.22rem;
$text-xl: 0.2rem;
$title-lg: 0.18rem;
$title-md: 0.16rem;
$title-sm: 0.15rem;

$text-xl: 0.14rem;
$text-lg: 0.13rem;
$text-md: 0.12rem;
$text-sm: 0.11rem;
$text-xs: 0.1rem;
